* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top Section */
.top-section {
  background-color: #1f2937;
  height: 50vh;
}

#logo {
}

nav,
.second-half {
  justify-content: space-around;
  display: flex;
  /* align-items: center; */
}

nav {
  padding-top: 15px;
  margin-bottom: 50px;
}

.nav-links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #efe7eb;
  list-style-type: none;
  display: flex;
}

.nav-links a,
.nav-links a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-links a:hover {
  color: rgb(36, 140, 238);
  transition: all 300ms ease;
}

.header-heading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header-paragraph {
  font-size: 18px;
  color: #e5e7eb;
}

/* Body Section */
.body-container {
  background-color: #ffffff;
  block-size: 25vh;
}

.body-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.body-images {
  border: 4px solid;
  border-radius: 15px;
  border-color: #3882f6;
}

/* Quote Section */
.quote-container {
  background-color: #efe7eb;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  block-size: 25vh;
}

/* Lower Body Section */
.lower-body-container {
  background-color: #3882f6;
  color: #f8f8f8;
  text-align: center;
  border: 4px solid;
  border-radius: 15px;
  block-size: 15vh;
  margin: 20vw;
}

/* Footer Section */
.footer-container {
  background-color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #efe7eb;
  text-align: center;
  block-size: 5vh;
  padding: 2vh;
}

/* Buttons Section */
.signup-button,
#signup-button-lower {
  border: 2px solid;
  border-radius: 4px;
  padding: 5px 15px;
}

.signup-button {
  background-color: #3882f6;
  border-color: #3882f6;
  color: #ffffff;
}

#signup-button-lower {
  background-color: #3882f6;
  border-color: #f8f8f8;
  color: #ffffff;
}
